<div ng-controller="MovieDetailCtrl">
    <div class="messages">
        <span class="error-message" ng-bind="errorMessage"></span>
    </div>
      
    <form name="newMovieForm">

     <div class="row">
       
       <div class="col-sm-4">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Please enter movie name" ng-model="createMovieData.name" name="movieName" ng-required="true">
          <span class="control-group error">
              <span class="error text-danger" ng-if="newMovieForm.movieName.$error.required">Required Field </span>
          </span>

          </div>
      </div>
     </div>

      <div class="row" ng-repeat="location in createMovieData.locations" ng-init="parentIndex = $index">
          <div class="col-sm-4">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Please enter location name" ng-model="location.name" name="locationName" ng-required="true">
              <span class="control-group error">
                  <span class="error text-danger" ng-if="newMovieForm.locationName.$error.required">Required Field </span>
              </span>

              </div>
          </div>

          <div class="col-sm-4" ng-repeat="timing in location.timings" ng-init="childIndex = $index">
              <div class="form-group">
              <input type="text" class="form-control" placeholder="Select Date and time"  ng-model = "timing.time" name="time" ng-required="true">
               <span class="control-group error">
                  <span class="error text-danger" ng-if="newMovieForm.time.$error.required">Required Field </span>
              </span>
              <button class="btn" ng-click="removeTiming(parentIndex, childIndex)">Remove Timing</button>
              </div>
          </div>

          <button class="btn btn-small" ng-click="addTiming(parentIndex)">Add Timing</button>

          <button class="btn" ng-click="removeLocation(parentIndex)">Remove Location</button>
      </div>

      <button class="btn btn-small" ng-click="addLocation()">Add Location</button>

      <div class="col-sm-4">
          <div class="form-group">
              <a id="get-iec-link" href ng-disabled="!newMovieForm.$valid" ng-click="searchQuestions()" 
           class="btn btn-primary">Save Movie</a>
          </div>
      </div>

      
    </form><br><br>
    <div>
      
    </div><br><br>

    <div class="container" ng-show="responseQuestions">

       <span class="badge"> <h5> Found {{responseQuestions.count}} Questions </h5></span>
       <br><br>

       <div ng-repeat="question in responseQuestions.questions">
          <div class="well well-sm">
            <span> <h5><b> Question Title: {{question.title}} </b></h5></span><br>
            <span>Question By User Id: {{question.user_id.id}}  Question By User: {{question.user_id.name}}</span><br><br>
          </div>
        
          <div class="col-xs-12" ng-repeat="answer in question.answers">

            <div class="well well-lg">
              <span>Answer User Id:{{answer.user_id.id}}  Answer By User: {{answer.user_id.name}}</span><br>

              <span> <h5><b> Answer : </b></h5></span><br>
              <span>{{answer.body}}</span><br><br>
            </div>
            

            
          </div>
       </div><br><br>

    </div>

  </div>